### 1. Importing Libraries and Dataset

In [67]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [68]:
df = pd.read_csv('weight-height.csv')

In [69]:
df.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

### 2. Separating X (Height, Weight) and Y (Gender)

In [70]:
x = df.drop('Gender', axis=1)

In [71]:
x.head()

      Height      Weight
0  73.847017  241.893563
1  68.781904  162.310473
2  74.110105  212.740856
3  71.730978  220.042470
4  69.881796  206.349801

In [72]:
y = df[['Gender']]

In [73]:
y.head()

  Gender
0   Male
1   Male
2   Male
3   Male
4   Male

### 3. Splitting the dataset into the Training set and Test set
Train = 70%, Test = 30%

In [74]:
from sklearn.model_selection import train_test_split

In [75]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.30)

In [76]:
df.shape

(8555, 3)

In [77]:
xtrain.shape

(5988, 2)

### 4. Applying KNN Classifier

In [78]:
from sklearn.neighbors import KNeighborsClassifier

In [79]:
knn = KNeighborsClassifier(n_neighbors=3)

In [80]:
knn.fit(xtrain, ytrain)

KNeighborsClassifier(n_neighbors=3)

In [81]:
ytest['Predicted_Gender'] = knn.predict(xtest)

In [82]:
ytest

      Gender Predicted_Gender
2768    Male             Male
1181    Male             Male
5875  Female           Female
7580  Female           Female
3986    Male             Male
...      ...              ...
1127    Male             Male
6261  Female           Female
5739  Female           Female
3439    Male             Male
2041    Male             Male

[2567 rows x 2 columns]

In [83]:
ytest = ytest.drop('Predicted_Gender', axis=1)

### 5. Evaluating the Model (Testing and training Accuracy)

In [84]:
#training accuracy
knn.score(xtrain, ytrain)

0.935871743486974

In [86]:
#testing accuracy
knn.score(xtest, ytest)

0.9084534476042072